// You can define as many modes as you want, but some combinations might be hard to read
// Comment out the ones not used

#ifndef SHART_DEBUG_CONFIG
#define SHART_DEBUG_CONFIG

//#define DEBUG_MODE_ERROR
//#define DEBUG_MODE_STATUS
#define USB_SERIAL_MODE // remember to change baud rate in python scripts if this is selected
//#define START_ON_POWERUP
//#define ATTEMPT_RECONNECT

#endif